<mat-toolbar>
    <span>Curso - Incluir</span>
</mat-toolbar>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Maria..." value="">
    </mat-form-field>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Instrutor</mat-label>
        <input matInput placeholder="Ex. Genival" value="">
      </mat-form-field>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Local</mat-label>
          <input matInput placeholder="Ex. Softex" value="">
        </mat-form-field>

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Carga Horaria</mat-label>
            <input matInput placeholder="Ex. 36" value="">
          </mat-form-field>

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Data Inicio</mat-label>
              <input matInput placeholder="Ex. 22/02/2023" value="">
            </mat-form-field>


    <div class="linha-botoes">
      <button mat-raised-button color="primary">Salvar</button>
      <button mat-raised-button color="primary">Voltar</button>


    </div>
